.content-area {
  position: relative;
  flex-grow: 1;
  transition: all $transition-time;
}

.content-area__main {
  width: 100%;
  height: 100%;
}

// state management
.content-area.-is-menu-active {
  transition: all $transition-time;
  background-color: gray;
}
.content-area.-is-menu-active .content-area__main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
