.footer {
  @include -flex-center-all;
  height: var(--footer-height);
  max-height: var(--footer-height);
  overflow: hidden;
  max-width: 100vw;
  border-top: $border-standard;
  transition: transform 0.3s;
}

@include media("below-tablet") {
  .footer {
    padding: 0 5%;
  }
}
@include media("below-mobile") {
  .footer {
    padding: 0 2.5%;
  }
  .footnote__text {
    font-size: 0.52rem;
    line-height: 0.9rem;
    text-align: center;
    text-transform: uppercase;
  }
}
