.menu {
  @include -flex-column;
  @include -scroll-bar;
  height: 100%;
  max-width: $content-area-width;
  overflow-y: scroll;
  transition: all 0.3s;
}

$menu-border: 1px dashed $c-main;
$menu-small-row-height: calc(100% / 12);

.menu__row {
  @include -flex;
  flex-wrap: wrap;
  width: 100%;

  &.-small {
    height: calc(100% / 12);
  }
  &.-big {
    flex-grow: 1;
  }
}

.menu__cell {
  position: relative;
  width: calc(100% / 3);
  max-width: calc(100% / 3);
  flex-grow: 1;
  box-sizing: border-box;

  &:not(:nth-child(3n)) {
    border-right: $menu-border;
  }
  border-bottom: $menu-border;
}

.menu-post {
  @include -flex-center-all;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 24px 0;
  box-sizing: border-box;
}
.menu-post__text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 36px 40px 0 40px;
  box-sizing: border-box;
}
.menu-post__title {
  @include f-title;
}
.menu-post:not(.-small) {
  & .menu-post__title {
    margin-bottom: 12px;
  }
}
.menu-post__author {
  @include f-title-regular;
}
.menu-post__number {
  max-width: 60%;
}
.menu-post__number {
  max-width: 60%;
}
.menu-post__number.-mobile {
  display: none;
}
// user events
.menu__cell:not(.-small) {
  & .menu-post__number {
    transition: opacity 0.3s;
  }
  & .menu-post__text {
    transition: opacity 0.3s;
  }

  @include media("above-medium") {
    &:hover {
      & .menu-post__number {
        opacity: 0;
        transition: opacity 0.3s;
      }
      & .menu-post__text {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
}

// state management
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
.content-area.-is-menu-active .menu {
  position: relative;
  z-index: 1;
  opacity: 1;
  pointer-events: initial;
}
