@include media("below-tablet") {
  .theme-rect__container {
    height: 95%;
    // display: flex;
  }
  .theme-text__g {
    overflow: auto;
    height: calc(#{$row-height} * 8);
    transform: translate3d(
      0,
      calc(
        #{$f-height} + #{$e2-height} + #{$l-height} + #{$n-height} + #{$text-margin} *
          2.5
      ),
      0
    );
  }
}
