:root {
  --text-width: 3px;
}
@include media("below-tablet") {
  :root {
    --text-width: 2px;
  }
}

$row-count: 50;
$col-count: 18;
// $text-width: 4px;
$text-width-offset: calc(var(--text-width) / 2);
$rect-container-width: calc(var(--theme-rect-width) * 0.9);
$rect-container-height: calc(#{$theme-rect-height} * 0.9);
$row-height: calc(#{$rect-container-height} / #{$row-count});
$col-width: calc(#{$rect-container-width} / #{$col-count});

.theme-rect {
  width: var(--theme-rect-width);
  min-width: var(--theme-rect-width);
  max-width: var(--theme-rect-width);
  border-left: $border-standard;
  display: flex;
  justify-content: center;
  align-items: center;
}


.theme-rect__container {
  position: relative;
  width: 90%;
  height: 90%;
}

$text-margin: calc(#{$row-height} * 2);
$full-width: calc(#{$col-width} * #{$col-count});

$f-width: $full-width;
$f-height: calc(#{$row-height} * 10);
$e-width: calc(#{$col-width} * 8);
$e-height: calc(#{$row-height} * 13);
$e2-width: calc(#{$col-width} * 8);
$e2-height: calc(#{$row-height} * 13);
$l-width: $full-width;
$l-height: calc(#{$row-height} * 6);
$i-width: calc(#{$col-width});
$i-height: calc(#{$row-height} * 6);
$n-width: calc(#{$col-width} * 16);
$n-height: calc(#{$row-height} * 10);
$g-width: $full-width;
$g-height: calc(#{$row-height} * 7);

.theme-text__static {
  width:100%;
  height:100%;
}

.theme-text {
  svg {
    position: absolute;
  }
  line {
    stroke: black;
    stroke-width: var(--text-width);
  }
}
.theme-text__f {
  top: 0;
  left: 0;
  width: $f-width;
  height: $f-height;

  & #f-top {
    transform: translate3d(0, $text-width-offset, 0);
  }
  & #f-center {
    transform: translate3d(0, 58%, 0);
  }
  & #f-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
}

$e-offset-y: calc(#{$f-height} + #{$text-margin});

.theme-text__e {
  top: 0;
  right: 0;
  width: $e-width;
  height: $e-height;
  transform: translate3d(0, $e-offset-y, 0);

  & #e-top {
    transform: translate3d(0, $text-width-offset, 0);
  }
  & #e-center {
    transform: translate3d(0, 65%, 0);
  }
  & #e-btm {
    transform: translate3d(0, calc(100% - #{$text-width-offset}), 0);
  }
  & #e-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
}

$e2-offset-y: calc(#{$f-height} + #{$text-margin});

.theme-text__e2 {
  top: 0;
  left: 0;
  width: $e2-width;
  height: $e2-height;
  transform: translate3d(0, $e2-offset-y, 0);

  & #e2-top {
    transform: translate3d(0, $text-width-offset, 0);
  }
  & #e2-center {
    transform: translate3d(0, 50%, 0);
  }
  & #e2-btm {
    transform: translate3d(0, calc(100% - #{$text-width-offset}), 0);
  }
  & #e2-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
}

$l-offset-y: calc(#{$f-height} + #{$e2-height} + #{$text-margin} * 2);

.theme-text__l {
  top: 0;
  left: 0;
  width: $l-width;
  height: $l-height;
  transform: translate3d(0, $l-offset-y, 0);

  & #l-btm {
    transform: translate3d(0, calc(100% - #{$text-width-offset}), 0);
  }
  & #l-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
}

$i-offset-y: calc(
  #{$f-height} + #{$e2-height} + #{$l-height} + #{$text-margin} * 3
);

.theme-text__i {
  top: 0;
  left: 0;
  width: $i-width;
  height: $i-height;
  transform: translate3d(0, $i-offset-y, 0);

  & #i-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
}

$n-offset-y: calc(
  #{$f-height} + #{$e2-height} + #{$l-height} + #{$text-margin} * 3
);

.theme-text__n {
  top: 0;
  right: 0;
  width: $n-width;
  height: $n-height;
  transform: translate3d(0, $n-offset-y, 0);

  & #n-left {
    transform: translate3d($text-width-offset, 0, 0) scaleY(0.6);
  }
  & #n-right {
    transform-origin: bottom;
    transform: translate3d(calc(#{$n-width} - #{$text-width-offset}), 0, 0);
  }
}

$g-offset-y: calc(
  #{$f-height} + #{$e2-height} + #{$l-height} + #{$n-height} + #{$text-margin} *
    2
);

.theme-text__g {
  top: 0;
  right: 0;
  width: $g-width;
  height: $g-height;
  transform: translate3d(0, $g-offset-y, 0);

  & #g-top {
    transform: translate3d($text-width-offset, $text-width-offset, 0)
      scaleX(0.6);
  }
  & #g-left {
    transform: translate3d($text-width-offset, 0, 0);
  }
  & #g-btm {
    transform: translate3d(
      $text-width-offset,
      calc(100% - #{$text-width-offset}),
      0
    );
  }
  & #g-right {
    transform: translate3d(calc(#{$g-width} - #{$text-width-offset}), 60%, 0)
      scaleY(0.6);
  }
  & #g-center {
    transform: translate3d(calc(#{$col-width} * 5), 60%, 0);
  }
}

/*
** animation
*/
.theme-text {
  & > * > * {
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes f-top {
    0%,
    100% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(0.5);
    }
    50% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(1);
    }
  }
  @keyframes f-center {
    0%,
    100% {
      transform: translate3d(0, 58%, 0) scaleX(1);
    }
    50% {
      transform: translate3d(0, 58%, 0) scaleX(0.5);
    }
  }
  &__f #f-top {
    animation-name: f-top;
  }
  &__f #f-center {
    animation-name: f-center;
  }

  @keyframes e-top {
    0%,
    100% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(0.25);
    }
    50% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(1);
    }
  }
  @keyframes e-center {
    0%,
    100% {
      transform: translate3d(0, 65%, 0) scaleX(1);
    }
    50% {
      transform: translate3d(0, 65%, 0) scaleX(0.25);
    }
  }
  @keyframes e-btm {
    0%,
    100% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0) scaleX(1);
    }
    50% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0)
        scaleX(0.65);
    }
  }
  &__e #e-top {
    animation-name: e-top;
  }
  &__e #e-center {
    animation-name: e-center;
  }
  &__e #e-btm {
    animation-name: e-btm;
  }

  @keyframes e2-top {
    0%,
    100% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(1);
    }
    50% {
      transform: translate3d(0, $text-width-offset, 0) scaleX(0.5);
    }
  }
  @keyframes e2-center {
    0%,
    100% {
      transform: translate3d(0, 50%, 0) scaleX(0.15);
    }
    50% {
      transform: translate3d(0, 50%, 0) scaleX(1);
    }
  }
  @keyframes e2-btm {
    0%,
    100% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0)
        scaleX(0.5);
    }
    50% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0) scaleX(1);
    }
  }
  &__e2 #e2-top {
    animation-name: e2-top;
  }
  &__e2 #e2-center {
    animation-name: e2-center;
  }
  &__e2 #e2-btm {
    animation-name: e2-btm;
  }

  @keyframes l-btm {
    0%,
    100% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0) scaleX(1);
    }
    50% {
      transform: translate3d(0, calc(100% - #{$text-width-offset}), 0)
        scaleX(0.5);
    }
  }
  &__l #l-btm {
    animation-name: l-btm;
  }

  @keyframes n-diagonal {
    0%,
    100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.65);
    }
  }
  @keyframes n-right {
    0%,
    100% {
      transform: translate3d(calc(#{$n-width} - #{$text-width-offset}), 0, 0)
        scaleY(0.5);
    }
    50% {
      transform: translate3d(calc(#{$n-width} - #{$text-width-offset}), -35%, 0)
        scaleY(1);
    }
  }
  &__n {
    overflow: inherit;
  }
  &__n #n-diagonal {
    animation-name: n-diagonal;
  }
  &__n #n-right {
    animation-name: n-right;
  }

  @keyframes g-top {
    0%,
    100% {
      transform: translate3d($text-width-offset, $text-width-offset, 0)
        scaleX(0.25);
    }
    50% {
      transform: translate3d($text-width-offset, $text-width-offset, 0)
        scaleX(1);
    }
  }
  @keyframes g-center {
    0%,
    100% {
      transform: translate3d(calc(#{$col-width} * 10), 60%, 0);
    }
    50% {
      transform: translate3d(calc(#{$col-width} * 2.5), 60%, 0);
    }
  }
  &__g #g-top {
    animation-name: g-top;
  }
  &__g #g-center {
    animation-name: g-center;
  }
}
