@mixin -flex {
  display: flex;
}
.-flex {
  @include -flex;
}

@mixin -flex-center-all {
  @include -flex;
  align-items: center;
  justify-content: center;
}
.-flex.-center-all {
  @include -flex-center-all;
}

@mixin -flex-center-space-between {
  @include -flex;
  align-items: center;
  justify-content: space-between;
}
.-flex.-center-space-between {
  @include -flex-center-space-between;
}

@mixin -flex-column {
  @include -flex;
  flex-direction: column;
}
.-flex.-column {
  @include -flex-column;
}

@mixin -scroll-bar {
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $c-theme;
  }
}
