@include media("below-medium") {
  .article__header {
    border-right: none;

    &.-is-scrolled {
      border-right: none;
    }
  }
  .post {
    & .post__left {
      width: 100%;
      max-width: 100%;
      border-right: none;
    }
    & .post__right {
      display: none;
    }
    & .article__caption {
      display: none;
    }
    figure {
      display: block !important;
    }
    .video-holder.-is-iframe-layout {
      display: block;
    }
  }
}

@include media("below-tablet") {
  .article__header.-is-scrolled {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .article__header,
  .article__content {
    padding: 32px 24px;
  }

  .article__header .article__headline {
    margin-bottom: 24px;
  }
  .article__content {
    margin-top: 64px;
    max-width: 100vw;
    overflow-x: hidden;
  }
}
