.post {
  @include -flex;
  width: 100%;
  height: 100%;

  &__left {
    @include -scroll-bar;
    flex-grow: 1;
    border-right: $border-standard;
  }

  & .article {
    overflow-y: scroll;
    z-index: 1;
  }
  & .article__intro,
  & .article__main {
    max-width: calc(1620px * 0.65);
  }
}

// scroll condition
.post.-is-scroll {
  .gallery__wrapper {
    background-position: top;
  }
}

// post state
.post {
  .article__caption + figure {
    display: none;
  }

  transition: opacity 0.5s;
}
.post.-is-loading {
  opacity: 0;
}

// article section
.article__content {
  @include f-paragraph;

  a {
    text-decoration: underline;
    text-underline-position: under;
  }

  strong {
    font-weight: 900;
  }

  // figure img,
  .article__footnote-title {
    margin-bottom: 1rem;
  }

  hr,
  ul,
  ol,
  figure,
  blockquote,
  iframe,
  .video-holder {
    margin-bottom: 3rem;
  }

  .article__caption {
    margin-bottom: 3rem;

    &.-is-empty {
      display: inline;
    }
  }
  .article__footnote-title {
    @include f-title;
  }
  .article__footnotes {
    margin-bottom: 4rem;
  }

  figure {
    img {
      width: 100%;
    }
  }

  iframe {
    width: 100%;
  }

  ul,
  ol {
    margin-left: 1rem;
  }
  li {
    position: relative;

    &:before {
      content: "-";
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }

  h2 {
    @include f-title;
    margin: 5rem 0 3rem 0;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.375rem;
    margin: 4.5rem 0 2.5rem 0;
    text-transform: uppercase;
    font-weight: $fw-bold;
    border: 0.0625rem solid black;
    border-left: none;
    border-right: none;
    padding: 1.8rem 0rem;
    @include media("below-tablet") {
      font-size: 1rem;
    }
  }

  .article__caption + h2,
  .article__caption + h3,
  blockquote + h2,
  blockquote + h3 {
    margin-top: 0;
  }

  h4 {
    font-size: 1rem;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-weight: $fw-bold;

    @include media("below-tablet") {
      font-size: 0.85rem;
    }
  }

  p {
    @include f-paragraph;
    margin-bottom: 2.5rem;
  }

  sup {
    font-size: 0.8rem;
    line-height: 1rem;
    vertical-align: top;

    em {
      font-style: italic;
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  hr {
    border: 0.125rem solid $c-theme;
  }

  .article__intro {
    width: 90%;
    margin-bottom: 3rem;
  }
  .article__blurb {
    margin-bottom: 3rem;
  }

  blockquote {
    @include f-quote;
    display: inline-block;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    p {
      margin-bottom: 0;
    }
  }

  blockquote cite {
    @include f-quote-author;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.875rem;
  }

  .article__caption,
  figcaption {
    @include f-caption;
    display: inline-block;
    font-size: 0.75rem;
    width: 100%;
    i {
      font-size: italic;
      font-weight: 900;
    }
  }

  .article__footnotes {
    & > * {
      @include f-note;
      margin-bottom: 1rem;
    }

    ol {
      text-indent: 0;
    }
    li {
      @include f-note;
      list-style: decimal;
      text-indent: 0;

      &:before {
        display: none;
      }
    }
  }

  .wp-block-audio {
    audio {
      width: 100%;
    }
  }
  .wp-block-embed__wrapper iframe {
    margin-bottom: 0;
  }
}

.video-holder.-is-iframe-layout {
  display: none;
}

.article {
  box-sizing: border-box;
  position: relative;
}
.article__header {
  position: fixed;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 0;
  padding: 3rem 4.5rem;
  border-bottom: 0.0625rem solid $c-theme;
  pointer-events: visible;

  & .article__header-main {
    margin-bottom: 0.25rem;
  }
  & .article__headline {
    margin-bottom: 3rem;
  }
  a {
    text-decoration: underline;
    text-underline-position: under;
  }

  transition: padding 0.3s;
  & > * {
    transition: all 0.3s;
  }
}
.article__content {
  max-width: 100%;
  margin-top: 4rem;
  padding: 3rem 4.5rem;
  z-index: 1;
  overflow-x: hidden;
}
.article__header-sub {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  & .article__author {
    font-weight: $fw-regular;
    padding-left: 0.25rem;
  }
}

.gallery__wrapper.-is-iframes {
  position: relative;
  .gallery__wrapper-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    transition: opacity 0.5s;
  }
  .gallery__wrapper-video:not(.-is-active) {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .gallery__wrapper-video div {
    padding: 176.94% 0 0 0;
    position: relative;
  }
}

// article section state
.article__header.-is-scrolled {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url("./public/assets/bg.jpg");
  background-size: 100vw 1200vh;
  background-position: 0% 0%;
  z-index: 1;
  pointer-events: none;
  border-right: 0.0625rem solid $c-theme;

  & .article__headline {
    @include f-title;
    margin-bottom: 0.25rem;
  }
  & .article__author {
    @include f-title-regular;
  }
  & .article__illustrator {
    opacity: 0;
    max-height: 0;
  }

  transition: padding 0.3s;
  & > * {
    transition: all 0.3s;
  }
}

// gallery section
.gallery {
  &__wrapper {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
    overflow: hidden;
  }
}

// magnifier
.img-magnifier-container {
  position: relative;

  &:hover {
    cursor: zoom-in;
  }
}
.img-magnifier-glass {
  position: absolute;
  border: 0.0625rem solid #000;
  border-radius: 50%;
  cursor: none;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;

  .-is-active & {
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: initial;
  }
}
